@font-face {
	font-family : Oregano-Regular;
	src : url(Oregano-Regular.ttf);
}

@font-face {
	font-family : larabiefont;
	src : url(larabiefont.ttf);
}

body {
	background-color : white;
	overflow : hidden;
}

/* gallery 화면 중간의 title */
.gallery-title {
	position : fixed;
	top : 10%;
	left : 3%;
	transform : rotate(-90deg);
}

.gallery-title pre {
	font-size : 1.6em;
	font-weight : 200;
	font-family : larabiefont;
}

/* gallery content */
.gallery-content {
	width : 1000px;
	height : 460px;
	margin-top : 5%;
	margin-left : 15%;
	overflow-x : scroll;
	overflow-y : hidden;
	white-space : nowrap;
}

.gallery-content img {
	height : 100%;
	width : auto;
	position : relative;
	padding-right : 3%;
	cursor : pointer;
}

.gallery-content iframe {
	height : 100%;
	position : relative;
	padding-right : 3%;
}

/* gallery text */
.gallery-text {
	margin-left : 15%;
}

.gallery-text p {
	font-family : Oregano-Regular;
	font-size : 1.2em;
}

/* gallery 화면 왼쪽의 button */
.left-button {
	position : fixed;
	top : 0;
	left : 0;
	width : 3em;
	height : 100%;
	background-color : DarkGray;
	opacity : 0.0;
}

.left-button i {
	position : absolute;
	left : 0.25em;
	top : 49%;
	font-size : 3.2em;
	color : white;
}

div.left-button:hover{
	opacity : 0.3;
}